#sessionals{
    width: 100%;
    height: 47.5vw;
    padding: 2vw 2vw 1vw 0;
}
#sessionals #title{
    width: 100%;
    height: 15%;
    padding: 1vw 1vw;
}
#sessionals #title h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 600;
}
#sessionals #title h4{
    text-transform: uppercase;
    font-size: 1.4vw;
    text-align: center;
    font-weight: 500;
}
#sessionals .container{
    height: 100%;
    width: 100%;
    border-radius: 1vw;
    display: grid;
    grid-template-columns: 100%;
}

#sessionals .container form{
    padding: 2vw 0;
    background-color: #FFF;
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5vw;
}
#sessionals .container form h2{
    padding: 1.5vw 2vw 1.5vw 2vw;
    font-size: 1.4vw;
}
#sessionals .container form h2::first-letter{
    font-size: 2vw;
}
#sessionals .container form h4{
    padding: 1.5vw 2vw 1.5vw 2vw;
    font-size: 1.2vw;
    font-weight: 600;
}
#sessionals .container form .input{
    width: 90%;
    height: 100%;
    margin-left: 1.5vw;
    overflow: hidden;
    justify-self: center;
    display: flex;
    align-items: center;
}
#sessionals .container form label{
    width: 15%;
    height: 100%;
    /* background-color: yellow; */
    font-size: 1vw;
    padding: 1vw 1vw;
}
#sessionals .container form .input input{
    background-color: #f0f0f0;
    border-radius: 1vw;
    width: 85%;
    font-size: 1.1vw;
    font-weight: 300;
    height: 100%;
    padding: 1.5vw 2vw;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}
#sessionals .container form #button{
    width: 30%;
    height: 100%;
    margin: 3% 35%;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: #7CA0FA;
}
#sessionals .container form #submit{
    padding: .5vw 2vw;
    width: 100%;
    height: 100%;
    font-size: 1.2vw;
    font-weight: 700;
    letter-spacing: 0.05vw;
    /* justify-self: center; */
    color: #FFF;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    transition: all linear 0s;
    z-index: 1;
    cursor: pointer;
}
#sessionals .container form #button::after{
    content: '';
    background-color: #7878E9;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: -15%;
    transition: all linear 0.4s;
    z-index: -1;
    transform: skewX(-45deg);
}
#sessionals .container form #button:hover::after{
    width: 130%;
}
#sessionals .container form #button:hover{
    color: #000;
    transition-delay: 0.2s;
}