*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    user-select: none;
    overflow-x: hidden;
}
main{
    width: 100%;
    height: 47.5vw;
    background-color: #F0F2FA;
}
#back a{
    display: flex;
    align-items: center;
    color: #000;
    height: 2vw;
    padding: 3vw 2vw 0 2vw;
    gap: 0.6vw;
    position: relative;
    transition: all 0.3s ease;
    margin-bottom: 0.6vw;
}
#back a h3{
    font-size: 1.5vw;
    font-weight: 400;
}

#back a i{
    font-size: 2vw;
    transition: all 0.3s ease;
}
#back a:hover h3{
    color: #4B49AC;
}
#back a:hover i{
    color: #4B49AC;
    margin-left: -0.6vw;
}

#viewSessionals{
    width: 100%;
    height: 90.6%;
    padding: 2vw 2vw;
}
#viewSessionals  form{
    padding: 2vw 0;
    border-radius: 1vw;
    background-color: #FFF;
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5vw;
}
#viewSessionals  form h2{
    padding: 1.5vw 2vw 1.5vw 2vw;
    /* background-color: turquoise; */
    font-size: 1.6vw;
}
#viewSessionals  form .input{
    width: 90%;
    height: 100%;
    margin-left: 1.5vw;
    overflow: hidden;
    justify-self: center;
    display: flex;
    align-items: center;
}
#viewSessionals  form label{
    width: 15%;
    height: 100%;
    /* background-color: yellow; */
    font-size: 1vw;
    padding: 1vw 1vw;
}
#viewSessionals  form .input input{
    background-color: #f0f0f0;
    border-radius: 1vw;
    width: 85%;
    font-size: 1.1vw;
    font-weight: 300;
    height: 100%;
    padding: 1.5vw 2vw;
    appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}
select {
    background-color: white;
    border: 0.1vw solid #7878EA;
    font-size: 1.1vw;
    padding: .5vw 3.5vw .5vw 1vw;
    appearance: none;
    background-image:
      linear-gradient(45deg, #7878EA 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, #7878EA 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 0.7vw) 1.9vh,
      calc(100% - 1.2vw) 1.9vh,
      calc(100% - 2.5vw) .5vw;
    background-size:
      .5vw .5vw,
      .5vw .5vw,
      .1vw 1.5vw;
    background-repeat: no-repeat;
    outline: 0;
}
select option{
    text-align: center;
}
#viewSessionals  form #button{
    width: 30%;
    height: 100%;
    margin: 3% 35%;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: #7CA0FA;
}
#viewSessionals  form #submit{
    padding: .5vw 2vw;
    width: 100%;
    height: 100%;
    font-size: 1.2vw;
    font-weight: 700;
    letter-spacing: 0.05vw;
    /* justify-self: center; */
    color: #FFF;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    transition: all linear 0s;
    z-index: 1;
    cursor: pointer;
}
#viewSessionals  form #button::after{
    content: '';
    background-color: #7878E9;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: -15%;
    transition: all linear 0.4s;
    z-index: -1;
    transform: skewX(-45deg);
}
#viewSessionals  form #button:hover::after{
    width: 130%;
}
#viewSessionals  form #button:hover{
    color: #000;
    transition-delay: 0.2s;
}